*.out
test
.vscode
test.dSYM
*.Xil
*.jou
*.str

*.DS_Store
.DS_Store
_ide
*.log
chat.rapidgpt

nmpc_*/
pseudorand_stream/
test_costF/
vitis_ip_repo/
orb_extract/
build/
**/hls/nmpc_solver*/

**/.rigel_lopper/
**/.cache/
**/__pycache__/
**/.analyzer_session.json
**/compile_commands.json
**/*Zone.Identifier
*.xsa
*.bit
*.hwh
*.bda
*.pdi
*.tar.gz
dfx_runtime.txt
app/kria-pynq/overlay/
app/kria-pynq/overlay-*/
app/kria-pynq/packaged_*/
app/kria-pynq/validation_logs/
hw/exported_platform/
hw/hdl/*_def_val.txt
hw/hdl/*_dump.txt